@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    font-family: 'Helvetica',sans-serif;
    font-size: 14px;
    /* background-color: #f0f2f5; */
     @apply bg-zinc-900;

}


div.scroll-right::-webkit-scrollbar {
  width: 8px;               /* width of the entire scrollbar */
}

div.scroll-right::-webkit-scrollbar-thumb {
  @apply bg-blue-500;   /* color of the scroll thumb */
  border-radius: 20px;       /* roundness of the scroll thumb */
 }
